
.edit_project{
    padding: 2rem;
}

.header_project{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.edit_btn{
    padding: 0rem 1rem;
    height: 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--color-menu-mobile);
    transition: all .3s ease-out;
}

.edit_btn:hover{
    transform: scale(1.1);
}

