.card_project{
    border: 1px solid var(--color-secondary);
    height: 22rem;
    width: 25rem;
    padding: 1.5rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title_project{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-buttons);
    background-color: var(--color-secondary);
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    max-width:22rem;
}

.card_project p{
    font-size: 1.4rem;
    margin-bottom: .6rem;
    /* margin: .8rem 0; */
}

.categorie{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.categorie::before{
    content: '';
    margin-right: .5rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: var(--color-menu-mobile);
}

.button_project{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    /* margin-top: 3rem; */
}


.button_project button, .btnAdd, .btnEdit{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 1.2rem;
    color: #fff;
    transition: all .3s ease-out;
    
}
.btnEdit{
  background-color: var(--color-menu-mobile);
}

.btnAdd{
    background-color: var(--color-secondary);
}
.button_project button{
  background-color: rgb(211, 69, 69);
}


.button_project button:hover, .btnAdd:hover, .btnEdit:hover{
    transform: scale(1.1);
}