.button_link{
    background-color: var(--color-buttons);
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    transition: all .4s ease-in-out;
}

.button_link:hover{
    scale: 1.1;
}