
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.title {
    font-size: 2.4rem;
}
.title span{
    background-color: var(--color-secondary);
    color: var(--color-buttons);
    padding: .8rem;
}

.text{
    margin: 2rem 0 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-text);
}

.image_home{
    width: 30rem;
    margin-top: 2rem;
}
