
.container_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: var(--color-secondary);
    padding: 3rem 0 4rem;
    border-radius: 2rem;
    width: 25rem;
    height: 30rem;
    margin: 3rem auto 0;
    cursor:pointer
}

.card_image {
    display: inline-block;
    width: 13rem;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.card_image::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(160deg, var(--color-buttons) 0%, var(--color-buttons)100%);
    position: absolute;
    z-index: -2;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}


.card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 5px #f7f5ec;
}


.text_name {
    color: #fff;
}

.text_dev{
    display: block;
    font-size: 1.5rem;
    color: #838383;
}

.social_icons{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    background-color: var(--color-menu-mobile);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    transition: all .5s ease-in-out;
}


.item{
    color: #fff;
    font-size: 2rem;
    transition: all .3s ease-in-out;
}


@media screen and (min-width:600px) {
    .card_image::before { 
        height: 0;
    }
    
    .container_card:hover .card_image::before {
        height: 100%;
    }
    
    .card_image img {
        box-shadow: none;
    }
    
    .container_card:hover .card_image img {
        box-shadow: 0 0 0 5px #f7f5ec; 
    }

    .social_icons{
        bottom: -10rem;
    }
    
    .container_card:hover .social_icons{
        bottom: 0;
    }

    .item:hover {
        scale: 1.2;
        cursor: pointer;
    }

}
